# Virtual Environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# Logs
*.log
app_errors.log

# System files
.DS_Store
Thumbs.db
